@font-face {
    font-family: 'Prototype';
    src: url('Prototype.woff2') format('woff2'),
        url('Prototype.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header {
    font-family: 'Prototype', sans-serif;
}

footer { 
    font-family: 'Prototype', sans-serif;
}

p.date {
    font-family: 'Prototype', sans-serif;
}
