body{ 
  background: url("images/bg_brick.jpg");
  background-repeat: repeat;
}
td{
font-family:tahoma;
font-size:11;
color:#911901;
}
.m1{
font-family:tahoma;
font-size:11;
color:#911901;
font-weight:900;
}
a{
font-family:tahoma;
font-size:11px;
color:#911901;
text-decoration:none;
font-weight:900;
}
a:hover{text-decoration:underline}
a.m1{
font-family:tahoma;
font-size:11;
color:#911901;
font-weight:300
}
a.m1:hover{text-decoration:underline}
a.m2{
font-family:tahoma;
font-size:11;
color:#911901;
font-weight:900;
}
a.m2:hover{text-decoration:underline}